﻿<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-bubbles font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase">CHATS</span>
        </div>

    </div>
    <div class="portlet-title tabbable-line">
        <div class="page-title input-icon input-icon-lg right" style="margin:15px 0px;">
            <i class="icon-magnifier"></i>
            <input type="text" class="form-control input-lg" style="width: 100% !important;" placeholder="Search..." (keyup)="search($event.target.value)"> 
        </div>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="portlet_comments_1">

                <div class="mt-comments" *ngFor="let conversation of filteredConversations" (click)="onChatOpen(conversation.userId)">
                    <div class="mt-comment" *ngIf="conversation.lastMessageBody">                        
                        <a (click)="onUserProfile(conversation.userLogin)">
                            <div class="mt-comment-img">
                                <img src="{{ conversation.userImage || 'assets/layouts/layout/img/default-no-profile-pic.jpg' }}" style="width: 50px; float: left;">
                            </div>
                        </a>                        
                        <div class="mt-comment-body">
                            <div class="mt-comment-info">
                                <a (click)="onUserProfile(conversation.userLogin)">
                                    <span class="mt-comment-author"> {{ conversation.userName }} {{ conversation.userSurname }}</span>
                                </a>
                                <span class="mt-comment-date">{{ conversation.lastMessageDate | date:"MM/dd/yy, HH:mm:ss" }}</span>
                            </div>
                            <div class="mt-comment-text"> {{ conversation.lastMessageBody }} </div>

                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>